<%if(success.length){%>
  <div class="alert alert-success alert-dismissible fade show col-6 offset-2" role="alert">
    <%=success%>  <!--connect - flash(res local variable)-->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

    </div>
<%}%>

<% if(deletion.length){ %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-2" role="alert">
        <%= deletion %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
    <% } %>

<%if(error.length){%>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-2" role="alert">
      <%=error%>  <!--connect - flash(res local variable)-->
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  
      </div>
  <%}%>