

<% layout('layouts/boilerplate') -%>
<body>

    <!-- <h3>All listings</h3> -->
     <div id="filters">
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <br>
        <p>Trending</p>
      </div>

      <div class="filter">
        <i class="fa-solid fa-bed"></i>
        <br>
        <p>Rooms</p>
      </div>

      <div class="filter">
        <i class="fa-solid fa-mountain-city"></i>
        <br>
        <p>Iconic cities</p>
      </div>

      <div class="filter">
        <i class="fa-solid fa-mountain"></i>
        <br>
        <p>Mountains</p>
      </div>

      <div class="filter">
        <i class="fa-brands fa-fort-awesome"></i>
        <br>
        <p>Castels</p>
      </div>

      <div class="filter">
        <i class="fa-sharp fa-solid fa-person-swimming"></i>
        <br>
        <p>Amazing pools</p>
      </div>

      <div class="filter">
        <i class="fa-regular fa-campground"></i>
        <br>
        <p>Camping</p>
      </div>

      <div class="filter">
        <i class="fa-solid fa-cow"></i>
         <br>
        <p>Farms</p>
      </div>

      <div class="filter">
        <i class="fa-solid fa-snowflake"></i>
        <br>
        <p>arctic</p>
      </div>
    <div id="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Check gst</label>
      </div>
    </div>
     </div>



   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
     <% for(let listing of allListings){%>
        <a href="/listings/<%= listing.id %>" class="listing-link">
             <div class="card col listing-card" >
            <img src="<%=listing.image.url%>" class="card-img-top" alt="image..." style="height: 17rem;">
            <div class="card-img-overlay"></div>   
            <!-- text will be written  over image of the card -->
            <div class="card-body">
            <p class="card-text">
            <b><%=listing.title%> </b><br>
             &#8377;  <%=listing.price%>/night
             <i class="tax-info"> &nbsp; &nbsp;18% GST</i>
            </p>
            </div>
          </div></a>
     
     <% }%>
</div>

<script>

  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", ()=>{
     let taxInfo=document.getElementsByClassName("tax-info");
      for(info of taxInfo){
        if(info.style.display!="inline"){
       info.style.display="inline";
        }else{
          info.style.display="none"
        }
      }
  })
 
 </script>
</body>


