<% layout('layouts/boilerplate') -%>


    
    <div class="row mt-3">
        <div class="col-8 offset-2" >
            <br><br>
        <h3>Create a new Listing</h3>

       <br>
    <form method="post" action="/listings" enctype="multipart/form-data" novalidate class="needs-validation" > <!--novalidate makes browser to stop giving msg when form is submmitted without filling completly.needs-validation is custom msg from bootstrap-->
       <div class="mb-3">
         <label class="form-label" for="title">Title</label>
        <input name="title" placeholder="Add a catchy title" type="text" class="form-control"required/><!--required makes the box to fill it compulsory-->
        <div class="invalid-feedback">please!enter title</div><!--if title is not given this msg will be shown under text box-->
    </div>
       
       <div  class="mb-3"> <!--margin bottom 3-->
        <label class="form-label" for="description">Description</label>
        <textarea name="description" placeholder="enter description"  class="form-control" required></textarea>
        <div class="invalid-feedback">please,enter a short description!</div>
    </div>
       
      
         
    <div  class="mb-3"> 
        <label class="form-label" for="image-url">upload image</label>
        <input name="image"   class="form-control" type="file"  required/>
    </div>
       
     <div   class="mb-3">   
        <label class="form-label" for="price">Price</label>
        <input name="price"   class="form-control"placeholder="1200" type="number" required/>
        <div class="invalid-feedback">price should be valid</div>
    </div>
       
    <div class="row">
        <div   class="mb-3 col-md-4">
            <label class="form-label" for="location">Location</label>
        <input name="location"   class="form-control" placeholder="chirala,Andhra pradesh" type="text" required/>
        <div class="invalid-feedback">location should be valid</div>
        </div>
       
       <div   class="mb-3 col-md-8">
         
        <label class="form-label" for="country">Country</label>
        <input name="country"  class="form-control"  placeholder="India" type="text"required/>
        <div class="invalid-feedback">country  should be valid</div>
       </div>
    </div>
       
        <button class=" btn btn-dark add-btn mt-3">Add</button>
        <!-- mt-3= margin-top 3 -->
        <br><br><br>
        

    </form>
    <!-- <script src="formvalidation.js"></script> -->
</div>
</div>

